* {
    font-size: 10.5px;
}

#header > h1 {
    font-size: 24px;
    margin-top: 20px;
}

body {
    font-family: Verdana;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center, a {
    text-align: center;
    margin: 0 auto;
}

.textleft {
    text-align: left;
}

.textright {
    text-align: right;
}

.fullWidth {
    width: 100%;
}

.logo {
    float: left;
    padding-bottom: 5px;
}

#header {
    height: 50px;
    border-bottom: 1px teal solid;
}

#contentHolder {
    width: 100%;
}

#menu {
    width: 10px;
    vertical-align: top;
    border-right: 1px solid Teal;
    white-space: nowrap;
    padding: 15px;
}

#pageContent {
    vertical-align: top;
    padding: 15px;
}

.btn {
    font-size: 12px;
}